@layout('layouts.app')

@section('content')
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm">
        <div data-component="Example"></div>
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div>
@endsection
